.meme > img {
  width: 80%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.meme {
  border-style: ridge;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
}

.underMemeSection {
  margin: 3%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.sectionBtns:hover {
  color: #cecece;
}
