<div class="uploadContainer">
  <h5 id="uploadLabel">Upload a Post</h5>
  <p>Choose how you want to upload the post</p>
  <div id="uploadFile">
    <p>Drop image to upload or</p>
    <i class="fa-solid fa-file-arrow-down fa-2xl"></i>
    <span class="btn">Choose files...</span>
  </div>
  <div class="otherSource">
    <div class="wrapper">
      <a id="picUrlBtn" class="source">
        <i class="fa-solid fa-image"></i>
        <p>Paste image URL</p>
      </a>
    </div>
    <div class="wrapper">
      <a id="vidUrlBtn" class="source">
        <i class="fa-solid fa-circle-play"></i>
        <p>Paste Video URL</p></a
      >
    </div>
    <div class="wrapper">
      <a id="makeMemeBtn" class="source">
        <img src="https://img.icons8.com/color/20/000000/trollface.png" />
        <p>Make meme</p>
      </a>
    </div>
  </div>
</div>
