body {
  display: flex;
  flex-direction: column;
  color: #000;
  font: 15px -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial,
    Helvetica, Geneva, sans-serif;
  align-items: center;
}
.navContainer {
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #f2f2f2;
}
.navigation {
  display: flex;
  justify-content: space-around;
  overflow: auto;
  position: fixed;
  background-color: white;
  * {
    text-decoration: none;
    color: black;
    line-height: 48px;
    font-weight: 700;
    padding: 0 8px;
    cursor: pointer;
  }
  a:hover,
  #signOutButton:hover {
    color: rgba(0, 0, 0, 0.6);
  }
}

#gagTitle {
  font-size: 25px;
}

#login-signup * {
  color: #999;
  font-weight: 700;
  cursor: pointer;
}

#loginModal {
  margin-top: 7%;
}

#modalLog-style,
#modalReg-style {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logApplications,
  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 80%;
  }

  input {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
  }
  button {
    margin: 1%;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 6%;
  width: 70%;
}

.left-menu {
  height: 100%;
  width: 20%;
  position: fixed;
  .gag-topics,
  .popular-topics {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .gag-topics {
    margin-bottom: 30px;
  }
  a {
    padding: 6px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    &:hover {
      background-color: #cecece;
      color: #000;
    }
  }
}

.hidden {
  display: none !important;
}

#regButton,
#uploadPageButton {
  color: #fff;
  display: inline-block;
  line-height: 36px;
  padding: 0 16px;
  margin-left: 8px;
  background-color: #07f;
  border-radius: 18px;
  &:hover {
    background-color: #005fcc;
  }
}

#loginButton:hover {
  color: #cecece;
}

.leftMenuTtitle {
  line-height: 24px;
  height: 20px;
  margin: auto;
  margin-bottom: 5px;
  color: #999;
  font-weight: 700;
}

#main-content {
  width: 80%;
  margin-left: 25%;
}

.authButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid var(--palette-text-light);
  box-sizing: border-box;
  border-radius: 24px;
  padding: 14px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  min-height: 48px;
  overflow: hidden;
  &:hover {
    background-color: #cecece;
  }
}
#signinButton {
  background-color: rgb(0, 119, 255);
  color: white;
  &:hover {
    background-color: #005fcc;
  }
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  * {
    text-align: center;
    text-decoration: none;
    color: black;
  }
}

#uploadFile,
.wrapper,
#titleInput,
#uploadBtn {
  border: 1px solid #ddd;
  &:hover {
    background-color: #f7f7f7;
  }
  * {
    margin: 3%;
  }
}

#uploadFile {
  width: 80%;
  margin-bottom: 3%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
}

.otherSource {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.wrapper {
  width: 35%;
  height: 100px;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

#fakehiddenInput {
  visibility: hidden;
  width: 0;
  height: 0;
}

#titleInput {
  width: 80%;
  margin-bottom: 3%;
  &:hover {
    cursor: text;
  }
}

#modal-contentID {
  align-items: center;
}

#modalUpload-style {
  width: 90%;
}

.meme {
  .imgContainer {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    img {
      width: 80%;
    }
  }
  .memeTitle {
    font-size: 20px;
    color: #000;
    text-decoration: none;
  }
  margin-bottom: 5%;
  max-width: 70%;
}

.underMemeSection {
  margin: 3%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.sectionBtns {
  display: flex;
  align-items: center;
  cursor: pointer;
  i {
    padding-right: 5px;
  }
  &hover {
    color: #cecece;
  }
}

.activeLikeBtn {
  color: #07f !important;
}

#uploadBtn {
  margin: 3%;
  width: 80%;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 14px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  min-height: 48px;
  overflow: hidden;
}
