body {
  display: flex;
  flex-direction: column;
  color: #000;
  font: 15px -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, Helvetica, Geneva, sans-serif;
  align-items: center;
}

.navContainer {
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #f2f2f2;
}

.navigation {
  display: flex;
  justify-content: space-around;
  overflow: auto;
  position: fixed;
  background-color: white;
}
.navigation * {
  text-decoration: none;
  color: black;
  line-height: 48px;
  font-weight: 700;
  padding: 0 8px;
  cursor: pointer;
}
.navigation a:hover,
.navigation #signOutButton:hover {
  color: rgba(0, 0, 0, 0.6);
}

#gagTitle {
  font-size: 25px;
}

#login-signup * {
  color: #999;
  font-weight: 700;
  cursor: pointer;
}

#loginModal {
  margin-top: 7%;
}

#modalLog-style,
#modalReg-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#modalLog-style .logApplications,
#modalLog-style form,
#modalReg-style .logApplications,
#modalReg-style form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 80%;
}
#modalLog-style input,
#modalReg-style input {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}
#modalLog-style button,
#modalReg-style button {
  margin: 1%;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 6%;
  width: 70%;
}

.left-menu {
  height: 100%;
  width: 20%;
  position: fixed;
}
.left-menu .gag-topics,
.left-menu .popular-topics {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.left-menu .gag-topics {
  margin-bottom: 30px;
}
.left-menu a {
  padding: 6px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.left-menu a:hover {
  background-color: #cecece;
  color: #000;
}

.hidden {
  display: none !important;
}

#regButton,
#uploadPageButton {
  color: #fff;
  display: inline-block;
  line-height: 36px;
  padding: 0 16px;
  margin-left: 8px;
  background-color: #07f;
  border-radius: 18px;
}
#regButton:hover,
#uploadPageButton:hover {
  background-color: #005fcc;
}

#loginButton:hover {
  color: #cecece;
}

.leftMenuTtitle {
  line-height: 24px;
  height: 20px;
  margin: auto;
  margin-bottom: 5px;
  color: #999;
  font-weight: 700;
}

#main-content {
  width: 80%;
  margin-left: 25%;
}

.authButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid var(--palette-text-light);
  box-sizing: border-box;
  border-radius: 24px;
  padding: 14px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  min-height: 48px;
  overflow: hidden;
}
.authButton:hover {
  background-color: #cecece;
}

#signinButton {
  background-color: #0077ff;
  color: white;
}
#signinButton:hover {
  background-color: #005fcc;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.uploadContainer * {
  text-align: center;
  text-decoration: none;
  color: black;
}

#uploadFile,
.wrapper,
#titleInput {
  border: 1px solid #ddd;
}
#uploadFile:hover,
.wrapper:hover,
#titleInput:hover {
  background-color: #f7f7f7;
}
#uploadFile *,
.wrapper *,
#titleInput * {
  margin: 3%;
}

#uploadFile {
  width: 80%;
  margin-bottom: 3%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#uploadFile:hover {
  cursor: pointer;
}

.otherSource {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.wrapper {
  width: 35%;
  height: 100px;
  display: flex;
  align-items: center;
}
.wrapper:hover {
  cursor: pointer;
}

#fakehiddenInput {
  visibility: hidden;
  width: 0;
  height: 0;
}

#titleInput {
  width: 80%;
  margin-bottom: 3%;
}
#titleInput:hover {
  cursor: text;
}

#modal-contentID {
  align-items: center;
}

#modalUpload-style {
  width: 90%;
}

.meme > img {
  width: 80%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.meme {
  border-style: ridge;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
}

.underMemeSection {
  margin: 3%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.sectionBtns:hover {
  color: #cecece;
}

.activeLikeBtn {
  color: #07f !important;
}

/*# sourceMappingURL=styles.css.map */
