body {
  display: flex;
  flex-direction: column;
  color: #000;
  font: 15px -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, Helvetica, Geneva, sans-serif;
  align-items: center;
}

.navContainer {
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #f2f2f2;
  background-color: white;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: space-around;
  overflow: auto;
  position: fixed;
  background-color: white;
}
.navigation * {
  text-decoration: none;
  color: black;
  line-height: 48px;
  font-weight: 700;
  padding: 0 8px;
  cursor: pointer;
}
.navigation a:hover,
.navigation #signOutButton:hover {
  color: rgba(0, 0, 0, 0.6);
}

#gagTitle {
  font-size: 25px;
}

#login-signup * {
  color: #999;
  font-weight: 700;
  cursor: pointer;
}

#loginModal {
  margin-top: 7%;
}

#modalLog-style,
#modalReg-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#modalLog-style .logApplications,
#modalLog-style form,
#modalReg-style .logApplications,
#modalReg-style form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 80%;
}
#modalLog-style input,
#modalReg-style input {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}
#modalLog-style button,
#modalReg-style button {
  margin: 1%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6%;
  width: 70%;
}

.left-menu {
  width: 20%;
}
.left-menu #menu-container {
  width: 100%;
  position: sticky;
  top: 95px;
}
.left-menu .gag-topics,
.left-menu .popular-topics {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.left-menu .gag-topics {
  margin-bottom: 30px;
}
.left-menu a {
  padding: 6px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.left-menu a:hover {
  background-color: #cecece;
  color: #000;
}

.hidden {
  display: none !important;
}

#regButton,
#uploadPageButton {
  color: white;
  height: 80%;
  display: inline-flex;
  align-items: center;
  line-height: 36px;
  padding: 0 16px;
  margin-left: 8px;
  background-color: #07f;
  border-radius: 18px;
}
#regButton:hover,
#uploadPageButton:hover {
  background-color: #005fcc;
}
#regButton #uploadSpan,
#uploadPageButton #uploadSpan {
  color: white;
}

#showOnlyOwnPosts,
#showOnlyOwnPostsFresh {
  color: white;
  line-height: 36px;
  padding: 0 16px;
  background-color: #07f;
  border-radius: 18px;
  margin-left: 30%;
}
#showOnlyOwnPosts:hover,
#showOnlyOwnPostsFresh:hover {
  background-color: #005fcc;
}

#signinButton {
  background-color: #07f;
  color: white;
}
#signinButton:hover {
  background-color: #005fcc;
}

#loginButton:hover {
  color: #cecece;
}

.leftMenuTtitle {
  line-height: 24px;
  height: 20px;
  margin: auto;
  margin-bottom: 5px;
  color: #999;
  font-weight: 700;
}

#main-content {
  width: 80%;
}

.authButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid var(--palette-text-light);
  box-sizing: border-box;
  border-radius: 24px;
  padding: 14px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  min-height: 48px;
  overflow: hidden;
}
.authButton:hover {
  background-color: #cecece;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.uploadContainer * {
  text-align: center;
  text-decoration: none;
  color: black;
}

#uploadFile,
.wrapper,
#titleInput,
#uploadBtn {
  border: 1px solid #ddd;
}
#uploadFile:hover,
.wrapper:hover,
#titleInput:hover,
#uploadBtn:hover {
  background-color: #f7f7f7;
}
#uploadFile *,
.wrapper *,
#titleInput *,
#uploadBtn * {
  margin: 3%;
}

#uploadFile {
  width: 80%;
  margin-bottom: 3%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#uploadFile:hover {
  cursor: pointer;
}

.otherSource {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.wrapper {
  width: 35%;
  height: 100px;
  display: flex;
  align-items: center;
}
.wrapper:hover {
  cursor: pointer;
}

#fakehiddenInput {
  visibility: hidden;
  width: 0;
  height: 0;
}

#titleInput {
  width: 80%;
  margin-bottom: 3%;
}
#titleInput:hover {
  cursor: text;
}

#modal-contentID {
  align-items: center;
}

#modalUpload-style {
  width: 90%;
}

.meme {
  max-width: 70%;
}
.meme .imgContainer {
  margin-top: 1%;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
}
.meme .imgContainer img {
  width: 80%;
}
.meme .memeTitle {
  font-size: 20px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.underMemeSection {
  margin: 3%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.sectionBtns {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sectionBtns i {
  padding-right: 5px;
}
.sectionBtnshover {
  color: #cecece;
}

.activeLikeBtn {
  color: #07f !important;
}

#uploadBtn {
  margin: 3%;
  width: 80%;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 14px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  min-height: 48px;
  overflow: hidden;
}

#memeDetails h3 {
  margin-bottom: 3%;
}

#profileButton {
  border-radius: 50%;
  background-color: #07f;
  height: 80%;
  display: flex;
  align-items: center;
}
#profileButton div {
  color: white;
}
#profileButton:hover {
  background-color: #005fcc;
}

#userBtns {
  display: flex;
  align-items: center;
}

#userAvatar {
  border-radius: 50%;
  background-color: #07f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 30px;
  margin-right: 5px;
  height: 35px;
}

#addCommentSection {
  display: flex;
  margin-bottom: 3%;
  align-items: flex-start;
  width: 70%;
}
#addCommentSection #textAreaSection {
  width: 100%;
}
#addCommentSection #textAreaSection textarea {
  resize: none;
  height: 76px;
  border-radius: 4px 4px 0 0;
  width: auto;
  border: 1px solid #e5e5e5;
  background: #fff;
  width: 100%;
}
#addCommentSection #textAreaSection textarea:focus {
  outline: #0077ff solid 1px;
}
#addCommentSection #textAreaSection footer {
  border: 1px solid #e5e5e5;
  border-top: none;
  border-radius: 0 0 4px 4px;
  display: flex;
  justify-content: space-evenly;
}
#addCommentSection #textAreaSection footer #cancelComemntBtn {
  border-radius: 0;
  height: 28px;
  line-height: 20px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: normal;
  font-size: 14px;
  color: #999;
}
#addCommentSection #textAreaSection footer #postCommentBtn {
  border-radius: 2px;
  border: 2px inset transparent;
  height: 28px;
  cursor: pointer;
  font-weight: bold;
  background: #07f;
  color: #fff;
  padding: 0 10px;
  width: 55px;
  margin-bottom: 1%;
}

.commentButtons {
  display: flex;
}
.commentButtons .sectionBtns,
.commentButtons .replyButton,
.commentButtons .deleteButton,
.commentButtons .showRepliesBtn {
  margin-right: 10%;
  color: #999 !important;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.commentButtons .sectionBtns:hover,
.commentButtons .replyButton:hover,
.commentButtons .deleteButton:hover,
.commentButtons .showRepliesBtn:hover {
  color: #cecece !important;
}

.userNameContainer {
  font-weight: 700;
}

.currentCommentContainer {
  margin: 3%;
}

#profileInfo {
  margin-bottom: 3%;
  display: flex;
  align-items: center;
}

.currentReplyComment {
  resize: none;
  height: 46px;
  border-radius: 4px 4px 0 0;
  width: auto;
  border: 1px solid #e5e5e5;
  background: #fff;
  width: 100%;
}

.replyBtnSection {
  border: 1px solid #e5e5e5;
  border-top: none;
  border-radius: 0 0 4px 4px;
  display: flex;
  justify-content: space-evenly;
}

.replyCommentSection {
  width: 60%;
  margin-top: 1%;
  margin-left: 7%;
}

.userAvatar {
  font-weight: bold;
}

.cancelReplyBtn {
  text-decoration: none;
  border-radius: 0px;
  height: 28px;
  line-height: 20px;
  padding: 0px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: normal;
  font-size: 14px;
  color: #999999;
}

.postReplyBtn {
  text-decoration: none;
  border-radius: 2px;
  border: 2px inset transparent;
  height: 28px;
  cursor: pointer;
  font-weight: bold;
  background: #07f;
  color: #fff;
  padding: 0 10px;
  width: 55px;
  margin-bottom: 1%;
}

#profileAvatar {
  color: white;
  text-decoration: none;
  line-height: 80px;
  width: 80px;
  font-weight: 700;
  padding: 0 8px;
  border-radius: 50%;
  background-color: #07f;
  height: 80%;
  margin-right: 3%;
  display: flex;
  justify-content: center;
}
#profileAvatar div {
  font-size: xx-large;
}

@media (max-width: 1330px) {
  .topic5 {
    display: none;
  }

  .meme {
    max-width: none;
  }
}
@media (max-width: 1200px) {
  .topic4 {
    display: none;
  }

  .content {
    margin-top: 8%;
  }
}
@media (max-width: 1040px) {
  .topic3 {
    display: none;
  }
}
@media (max-width: 920px) {
  .topic2,
.left-menu,
#uploadSpan,
#signOutSpan {
    display: none;
  }

  #main-content {
    width: 100%;
  }

  #signOutIconSpan {
    display: block !important;
  }

  .content {
    margin-top: 10%;
  }
}
@media (max-width: 760px) {
  .topic-buttons,
.search-button {
    display: none;
  }

  .content {
    margin-top: 12%;
  }

  #freshNavBtn {
    display: contents !important;
  }
}
@media (max-width: 580px) {
  .content {
    margin-top: 14%;
  }
}
@media (max-width: 460px) {
  .content {
    margin-top: 17%;
  }
}
@media (max-width: 380px) {
  .content {
    margin-top: 20%;
  }
}
.repliesContainer {
  width: 60%;
  margin-top: 1%;
  margin-left: 7%;
}

/*# sourceMappingURL=styles.css.map */
