body {
  display: flex;
  flex-direction: column;
  margin: 0 100px;
}

.navigation {
  display: flex;
  justify-content: space-around;
  * {
    text-decoration: none;
    color: black;
  }
}

.content {
  display: flex;
  justify-content: space-between;
}

.left-menu {
  height: 100%;
  width: 200px;
  margin: 30px;
  .gag-topics,
  .popular-topics {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .gag-topics {
    margin-bottom: 30px;
  }
}
