<div class="loginPage">
  <p1>Log In</p1>

  <div class="logApplications">
    <button id="signInFacebook">Continue with Facebook</button>
    <button id="signInGoogle">Continue with Google</button>
  </div>
  <p>or</p>
  <form>
    <input
      type="text"
      id="login"
      name="login"
      placeholder="Username or email address"
    />
    <input type="text" id="password" name="login" placeholder="Password" />
    <input type="submit" class="fadeIn fourth" value="Log In" />
  </form>
  <a href="">Forgot password?</a>
</div>
